<html>
    <head>
        <title>Edit File</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        {% include 'header.html' %}
    </head>
    <body>
        <form action='/change/{{file}}' method=POST>
            <textarea name='new' style="white-space: pre-wrap;">
                {{old}}
            </textarea>
            <button type="submit">
                Submit
            </button>
        </form>
    </body>
</html>